@use '@carbon/colors';
@use '@carbon/layout';
@use '@carbon/type';

.container {
  margin: 1rem;
}

.paymentMethodContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  align-items: flex-start;
  column-gap: 1rem;
  margin: 0.625rem 0;
  width: 100%;
}

.errorPaymentContainer {
  margin: layout.$spacing-04;
  min-height: layout.$spacing-09;
}
